.header{
    background-color: red;
}

.footer{
    background-color: red;
    clear:both;
}

.main{
    background-color: pink;
    width:100%;
}

.container{
    border:1px solid yellow;
    overflow:hidden ;
}

.left{
    background-color: green;
    width:100px;
    margin-left: -100%;
}

.right {
    background-color: blue;
    width:120px;
    margin-left: -120px;
}

.main,.left,.right{
    min-height: 130px;
    float: left;
}